.footeerHeading,.footerParagraph{
    color: white;
}
.footerHr{
    border: 1px solid white;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footeerHeading{
    text-align: center;
}